@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <h4>Employee Benefits Deduction Calculator</h4>
        <p>Please select the number of dependents for the employee</p>
        <hr />

        <div class="form-group row">
            @Html.Label("Number of Dependents: ", htmlAttributes: new { @class = "col-form-label col-sm-6" })
            <div class="col-sm-6">
                @Html.DropDownList("noofDependents", new SelectList(ViewBag.dependents, "Text", "Value"), new { style = "width: 225px; height:34px", @class = "form-control", required = "required" })
            </div>
        </div>


        <br />
        <br />
        <div class="col">
            <button class="btn btn-primary" type="submit">Next</button>
        </div>


    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}






